<!DOCTYPE html>
<html>
  <head>
    <title>TheMovieDB</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  </head>

  <body>
    <%= yield %>
  </body>
  <footer>
    <div style="position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;"
    class="bg-dark">
      <a style="color: white; "href="https://www.themoviedb.org/documentation/api?language=en-US">Made with TheMovieDb API</a>
    </div>
  </footer>
</html>
